<div>
    <h1>Login</h1>
    <form id="loginForm">
                <label for="">Email</label>
        <input type="email">
        <br>
                <label for="">Contraseña</label>
        <input type="password">
        <br>
        <input type="submit">
    </form>
    <p>Si no tenés usuario: <a href="/users/register">Ingrese aquí</a></p>
</div>

<script src="/js/login.js"></script>