<div>
        <h1>Registro</h1>
        <form id="registerForm">
                <label for="">Nombre</label>
                <input name="first_name" class="controls">
                <br>
                <label for="">Apellido</label>
                <input name="last_name" class="controls">
                <br>
                <label for="">Email</label>
                <input name="email" class="controls">
                <br>
                <label for="">Edad</label>
                <input name="age" class="controls">
                <br>
                <label for="">Contraseña</label>
                <input name="password" type="password" class="controls">
                <br>
                <input type="submit" class="botons">
        </form>
        <p>Si ya tenés usuario: <a href="/users/login">Ingrese aquí</a></p>
</div>

<script src="/js/register.js"></script>